/*
Font white: #2177d4
Font highlight: #d43921




*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}




/****************** RESPONSIVE BODY ******************/

.container {
  padding: 0 15px;
  margin: 0 auto;

}


/****************** FULL WIDTH DIVISOR ******************/

.section {
  padding: 60px 0;
  margin-bottom: 30px;
}


/****************** FULL WIDTH IMAGE ******************/

.imagespread {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  background-color: rgba(85, 85, 85, .75);
  padding: 15px;
  color: #eee;
  top: 50%;
  position: relative;

}

.banner h1, .banner h2 {
  font-family: 'Barrio', cursive;
}


/****************** NAVBAR ******************/

.nav {
  background: #222222;
}

.nav_section>ul {
  margin: 0;
}
.nav_links{
  padding:0;
}
.nav_links>li {
  display: inline-block;
}

.nav_links a {
  line-height: 1.5em;
  padding: 15px 20px;
  color: #eee;
  display: block;
}

.nav_links a:hover {
  background-color: #333333;
}


/****************** FONT STYLING ******************/

a {
  text-decoration: none;
  color: #2177d4;
}

a:hover {
  color: #e0ab0e;
}
a:active{
  color: #e0ab0e;
}
h1,h2{
  color: #e0ab0e;
}
img {
  max-width: 100%;
}


/****************** BACKGROUND IMAGES ******************/

#headingsection {
  background-image: url(../images/plazadeespanawide.jpg);
}

#classroomsection{
  background: #2183bd;
}


/****************** RESPONSIVE CODE ******************/


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  body {

  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }

  #headingsection{
    min-height: 500px;
  }

}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
