/*
Font white: #2177d4
Font highlight: #d43921
Background dark: #222222
Background light: #e1e1e1


*/


html{
  height: 100%;

}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #222222;
  min-height: 100%;


}


/****************** SKELETON OVERRIDE ******************/
.one-third:nth-child(3n+1){
  margin-left: 0;
}



/****************** SKELETON OVERRIDE ******************/

th{
  text-align: center;
}
th:first-child, td:first-child{
  padding-left: 5px;
}

td{
  width: 16.6%;
  padding: 10px;
}
td:empty{
  background: #d2d2d2;
}

.timetable_container{
  overflow-x: auto;
}

.location_row td{
  background: #e0ab0e;
  color: #eee;
  font-weight: 700;
  text-align: center;
}

/****************** RESPONSIVE BODY ******************/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/****************** FULL WIDTH DIVISOR ******************/

.section {
  padding: 30px 0;
  background-color: #eee;
}

.section.imagespread {
  padding: 60px 0;
}
.section-dark{
  background-color: #222222;
}




/****************** NAVBAR ******************/

.nav {
  background: #222222;
  border-bottom: 3px solid #e0ab0e;
}


.nav_section>ul {
  margin: 0;
}

.nav_links {
  padding: 0;
}

.nav_links>li {
  display: inline-block;
  margin: 0;
}

.nav_links a {
  line-height: 1.5em;
  padding: 15px 20px;
  color: #eee;
  display: block;
}

.nav_links a:hover, .nav_links a.active {
  background-color: #333333;
}



/****************** PANEL STYLING ******************/

.panels {
  margin-top: 120px;

}

.panel {
  background-color: #f4f4f4;
  padding: 15px;
  margin: 15px;
  text-align: center;
  min-height: 600px;

}

.panel_image {
  margin-top: -80px;
  border-radius: 50%;
  max-width: 50%;
}

.panel_heading {
  margin-top: -80px;
  border-radius: 50%;
  max-width: 50%;
}

img {
  max-width: 100%;
}


/****************** FORM ELEMENTS ******************/

input, textarea {
  color: #222222;
}


/****************** BUTTON ELEMENTS ******************/

.button {
  /*SIZE*/
  /*font-size: 16px;*/
  padding: 10px 16px;
  margin: 15px 0;
  /*GENERIC SETTING*/
  background: none;
  cursor: pointer;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid black;
  transition: all .25s;
}

.button-solid {
  color: #fff;
  border: 0;
}

.background-orange {
  background-color: #e0ab0e;
}


/****************** FULL WIDTH IMAGE ******************/

.imagespread {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner {
  background-color: rgba(85, 85, 85, .75);
  padding: 15px;
  color: #eee;
  top: 50%;
  position: relative;
}


/****************** FOOTER ******************/

footer {
  background: #222222;
  border-top: 3px solid #e0ab0e;
  color: #eee;
  padding: 15px 0;
}


/*Copywrite detail*/

.baseline {
  text-align: center;
}


/****************** LOGO STYLING ******************/

.logocontainer {
  background: #222222;
}

.logo {
  margin: auto;
  padding: 5px;
  width: auto;
  height: 70px;
  display: block;
}



/****************** FONT STYLING ******************/

a {
  text-decoration: none;
  color: #2177d4;
}

a:hover {
  color: #e0ab0e;
}

a:active {
  color: #e0ab0e;
}

h1, h2, h3 {
  color: #e0ab0e;
}

.banner h1, .banner h2 {
  font-family: 'Barrio', cursive;
}


/****************** BACKGROUND IMAGES ******************/

#headingsection {
  background-image: url(../images/main.jpg);
}




/****************** CARD CODE ******************/

.card {
  position: relative;
  height: 200px;
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 15px;
}

.card_title {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  background: rgba(224, 171, 14, .75);
  color: #eee;
  height: 2em;
  transition: all .5s;
}

.card:hover .card_title {
  height: 100%;
}

.card_title h3 {
  padding: .5rem;
  margin: 0;
  font-size: 2rem;
  color: #eee;

}

.card_title p {
  padding: .5rem;
  margin: 0;
  opacity: 1;
}

.card_test {
  height: 50px;
  transition: all 1s;
}

.card_test:hover {
  height: 500px;
}

/****************** TILE CODE ******************/
.tile{
  background-color: #f4f4f4;
  min-height: 680px;
  margin-bottom: 30px;
}
.tile_text{
    padding: 15px;
  }





/****************** Contact CODE ******************/

.contact_heading{
  display: inline-block;
  width: 70px;
}
.contact_detail,.contact_detail>a{
  color: #e0ab0e;
}
.contact_detail>a{
  text-decoration: underline;
}

/****************** SHADOW CODE ******************/

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



/****************** RESPONSIVE CODE ******************/


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {
  .section.imagespread{
    padding: 120px;
  }

}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
