/*
Font white: #2177d4
Font highlight: #d43921




*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

#wrapper {
  min-height: 3000px;
}
/****************** RESPONSIVE BODY ******************/
.container{
  max-width: 960px;
}
/****************** FULL WIDTH DIVISOR ******************/
.section{
  padding: 60px 0;
  margin-bottom: 30px;
}
/****************** FULL WIDTH IMAGE ******************/
.imagespread{
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

/****************** NAVBAR ******************/
.nav {
  background: #222222;
}

.nav_section>ul {
  margin: 0;
}

.nav_links>li {
  display: inline-block;
}

.nav_links a {
  line-height: 1.5em;
  padding: 15px 20px;
  color: #eee;
  display: block;
}
.nav_links a:hover{
  background-color: #333333;
}

/****************** FONT STYLING ******************/
a {
  text-decoration: none;
  color: #2177d4;
}

a:hover {
  color: #d43921;
}

img {
  max-width: 100%;
}


/****************** BACKGROUND IMAGES ******************/
#headingsection{
  background-image: url(../images/plazadeespanawide.jpg);
}
